allow mmgr log_file:file {write read open unlink getattr};
allow mmgr system_data_file:dir { add_name create remove_name write};
allow mmgr system_data_file:file { create add_name write open unlink };
